<template>
<v-container grid-list-xl>
  <v-layout column>
    <v-flex>
      <GrievanceCreate />
    </v-flex>
    <v-flex>
      <!-- BASE -->
      <GrievanceList :grievances="this.$store.state.grievances" />
      <!-- END BASE -->

      <!-- API -->
      <!-- <amplify-connect :query="listGrievancesQuery"
                       :subscription="createGrievanceSubscription"
                       :onSubscriptionMsg="onCreateGrievance">
        <template slot-scope="{loading, data, errors}">
          <div v-if="loading">Loading...</div>
          <div v-else-if="errors.length > 0"></div>
          <div v-else-if="data">
            <GrievanceList :grievances="data.listGrievances" />
          </div>
        </template>
      </amplify-connect> -->
      <!-- END API -->

    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import GrievanceCreate from '@/components/GrievanceCreate.vue'
import GrievanceList from '@/components/GrievanceList.vue'

// API
// import {
//   graphqlOperation
// } from 'aws-amplify';
// import {
//   components
// } from 'aws-amplify-vue';
//
// const ListGrievancesQuery = `query ListGrievances {
//   listGrievances {
//     id,
//     grievance
//   }
// }`
//
// const onCreateGrievanceSubscription = `subscription onCreateGrievance {
//     onCreateGrievance {
//       id
//       grievance
//     }
//   }`;
// END API

export default {
  name: 'home',
  components: {
    GrievanceCreate,
    GrievanceList,
    // API
    // ...components
  },
  computed: {
    // API
    // listGrievancesQuery() {
    //   return graphqlOperation(ListGrievancesQuery);
    // },
    // createGrievanceSubscription() {
    //   return graphqlOperation(onCreateGrievanceSubscription);
    // }
    // END API
  },
  methods: {
    // API
    // onCreateGrievance(prevData, newData) {
    //   console.log('New grievance received via subscription!');
    //   const grievance = newData.onCreateGrievance;
    //   prevData.data.listGrievances.push(grievance);
    //   return prevData.data;
    // }
  }
}
</script>
