<template>
<v-card dark
        class="elevation-12">
  <v-toolbar dark
             color="primary">
    <v-toolbar-title>Air a Greivance</v-toolbar-title>
  </v-toolbar>

  <!-- API -->
  <!-- <amplify-connect :mutation="createGrievance"
                   @done="onCreateFinished">
    <template slot-scope="{ loading, mutate, errors }">
      <v-card-text>
        <v-form @submit.prevent="">
          <v-text-field v-model="grievance"
                        prepend-icon="thumb_down"
                        name="grievance"
                        label="Grievance"
                        type="text"></v-text-field>
        </v-form>
        <div v-if="errors.length > 0">{errors}</div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn :disabled="loading"
               color="primary"
               @click="mutate">Add</v-btn>
      </v-card-actions>
    </template>
  </amplify-connect> -->
  <!-- END API -->


  <!-- BASE -->
  <v-card-text>
    <v-form @submit.prevent="">
      <v-text-field v-model="grievance"
                    prepend-icon="thumb_down"
                    name="grievance"
                    label="Grievance"
                    type="text"></v-text-field>
    </v-form>
  </v-card-text>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn color="primary"
           @click="addGrievance">Add</v-btn>
  </v-card-actions>
  <!-- END BASE-->

</v-card>
</template>

<script type="text/javascript">
// API
// import {
//   graphqlOperation
// } from 'aws-amplify';
//
// const CreateGrievance = `mutation CreateGrievance($grievance: String!) {
//   createGrievance(grievance: $grievance) {
//     id
//     grievance
//   }
// }`
// END API

export default {
  name: 'GrievanceCreate',
  data: () => ({
    grievance: null
  }),
  methods: {
    // BASE
    addGrievance() {
      this.$store.dispatch('airGrievance', this.grievance);
      this.grievance = null;
    },

    // API
    // onCreateFinished() {
    //   console.log('Grievance has been aired!');
    //   this.grievance = null;
    // }
  },
  computed: {
    // API
    // createGrievance() {
    //   return graphqlOperation(CreateGrievance, {
    //     grievance: this.grievance
    //   });
    // }
  },
}
</script>
