<template>
<div id="app">
  <v-app fill-height
         id="festivus">
    <v-content class="back">
      <div id="nav">
        <router-link to="/">Home</router-link> |
        <router-link to="/grievances">Grievances</router-link> |
        <router-link to="/feats">Feats</router-link> |
        <router-link to="/miracles">Miracles</router-link> |
        <router-link to="/about">About</router-link>
      </div>
      <v-container fluid
                   fill-height>
        <v-layout align-center
                  justify-center>
          <v-flex xs8>
            <router-view />
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>
</template>

<script>
// AUTH
// import {
//   components
// } from 'aws-amplify-vue'

export default {
  name: 'app',
  // AUTH
  // components: {
  //   ...components
  // }
}
</script>

<style lang="scss">
.back {
    background-image: url("./assets/18800826428_0cc4be5b91_b.jpg");
    background-size: cover;
    min-height: 100vh;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#nav {
    padding: 40px;
    a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
            color: #42b983;
        }
    }
}
</style>
